.top-bar {
    height: 68px;
    background: radial-gradient(circle, yellow, orange 125px, red);

    color: black;
    h1 {
        font-family: 'Lato';
        letter-spacing: 1px;
        font-size: 18px;
        font-weight: 900;
    }
}