<footer class="d-flex flex-row w-100 justify-content-end bg-secondary mt-2">
    <div id="social-media" class="d-flex flex-row text-white mt-3">
        <div class="align-self-start mr-auto icons-footer-container d-flex flex-row">
            <i class="fab fa-youtube mx-3"></i>
            <i class="fab fa-github mx-3"></i>
            <i class="fab fa-linkedin-in mx-3"></i>
        </div>
        <p class="align-self-end ml-auto">
            Copyright {{ currentYear }} - Vitor Correa Github.
        </p>
    </div>
    
</footer>
